@import url('globalstyles.css');

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
  background-color: var(--page-bg);
}

.container {
  padding: 20px 20px;
}

.h-100 {
  height: 100dvh;
}

.max-w-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--primary-text);
  position: relative;

}

.logo__transparent {
  width: 25px;
  height: 30px;
  background-color: var(--page-bg);
  position: absolute;
  top: 42%;
  right: 50%;
  display: flex;
  align-items: end;
}

.logo__text {
  font-family: 'Aleo', serif;
  font-size: 21px;
  color: var(--primary-text);
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: var(--secondary-text);
  font-weight: 300;
  transition: .2s ease-in-out;
}

.links a:hover,
.links a:focus-within {
  color: var(--primary-text);
  font-weight: 500;
}

.theme-switcher {
  background-color: var(--switch-bg);
  border-radius: 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: .25rem;
  position: relative;
}

.theme-switcher::before {
  content: '';
  position: absolute;
  width: 1.56rem;
  height: 1.56rem;
  background-color: var(--switch-circle-bg);
  border-radius: 1px;
  z-index: 0;
  left: 0;
  transform: translateX(var(--switch-circle-pos));
  transition: var(--theme-transition);
}

.theme-switcher svg {
  z-index: 1;
  transition: var(--theme-transition);
}

.icon-sun {
  fill: var(--icon-sun);
}

.icon-moon {
  fill: var(--icon-moon);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  justify-content: center;
  height: 90%;
  margin-top: 50px;
}

.intro__name {
  font-size: 1.5625rem;
  font-weight: 300;
  color: var(--secondary-text);
}

.intro__career {
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--primary-text);
  width: 480px;
}

.intro__career > span {
  font-weight: 100;
}

.divider {
  display: block;
  width: 200px;
  height: 1px;
  background-color: var(--detail);
}

.about {
  display: flex;
  align-items: center;
  height: 60dvh;
  margin-bottom: 120px;
}

.about h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--secondary-text);
  width: 60%;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  height: 100vw;
  background-size: cover;
}

.card__content {
  height: 100%;
  --padding: 1.5rem;
  padding: var(--padding);
  background: rgba(0, 0, 0, .65);
  display: flex;
  flex-direction: column;
  justify-content: end;

}

.card__title {
  color: var(--card-accent);
  font-weight: 500;
  position: relative;
  width: max-content;
}

.card__title::after {
  content: '';
  position: absolute;
  height: 1px;
  left: calc(var(--padding) * -1);
  bottom: -5px;
  width: calc(100% + var(--padding));
  background-color: var(--card-accent);
}

.card__description {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 8px;
}

.card__description,
.technologies span {
  color: var(--card-neutral);
}

.technologies span {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#card-one {
  background-image: url('/src/assets/image/hbomax.png');
}

@media (hover) {
  .card__content {
    opacity: 0;
    transition: all .3s ease;
  }

  .card__title::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .8s ease;
  }

  .card:hover .card__content, 
  .card:focus-within .card__content {
    opacity: 1;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:focus-within .card__title::after,
  .card:hover .card__title::after  {
    transform: scaleX(1);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .intro__name {
    font-size: 2rem;
  }

  .intro__career {
    font-size: 3rem;
  }

  .about h3 {
    font-size: clamp(1.25rem, 1rem + 0.3906vi, 1.625rem);
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .card {
    height: 50vw;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-top: 25px;
  }

  .intro__name {
    font-size: clamp(2.5rem, 2.0833rem + 0.651vi, 3.125rem);
  }

  .intro__career {
    font-size: clamp(5rem, 4.1667rem + 1.3021vi, 6.25rem);
    width: 100%;
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  }

  .card {
    max-height: 450px;
  }
}