@import url('globalstyles.css');

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: var(--page-bg);
}

.user-select-none {
  user-select: none;
  -webkit-user-select: none;
}

::placeholder {
  color: var(--placeholder);
}

::selection {
  color: var(--page-bg);
  background-color: var(--primary);
}

::-moz-selection {
  color: var(--page-bg);
  background-color: var(--primary);
}

.container {
  padding: var(--p-5);
}

.h-100 {
  height: 100dvh;
}

.max-w-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.letter-space {
  letter-spacing: var(--letter-space);
}

.line-height {
  line-height: var(--line-height);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid var(--primary);
  position: relative;

}

.logo__transparent {
  width: 25px;
  height: 30px;
  background-color: var(--page-bg);
  position: absolute;
  top: 42%;
  right: 50%;
  display: flex;
  align-items: end;
}

.logo__text {
  font-family: 'Aleo', serif;
  font-size: 21px;
  color: var(--primary);
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: var(--secondary);
  font-weight: 300;
  transition: .2s ease-in-out;
}

.links a:hover,
.links a:focus-within {
  color: var(--primary);
  font-weight: 500;
}

.theme-switcher {
  background-color: var(--switch-bg);
  border-radius: 1px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: .25rem;
  position: relative;
}

.theme-switcher::before {
  content: '';
  position: absolute;
  width: 1.56rem;
  height: 1.56rem;
  background-color: var(--switch-circle-bg);
  border-radius: 1px;
  z-index: 0;
  left: 0;
  transform: translateX(var(--switch-circle-pos));
  transition: var(--theme-transition);
}

.theme-switcher svg {
  z-index: 1;
  transition: var(--theme-transition);
}

.icon-sun {
  fill: var(--icon-sun);
}

.icon-moon {
  fill: var(--icon-moon);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
  justify-content: center;
  height: 90%;
  margin-top: 50px;
}

.intro__name {
  font-size: 1.5625rem;
  font-weight: 300;
  color: var(--secondary);
}

.intro__career {
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--primary);
  width: 480px;
}

.intro__career > span {
  font-weight: 100;
}

.divider {
  display: block;
  width: 200px;
  height: 1px;
  background-color: var(--detail);
}

.about {
  display: flex;
  align-items: center;
  height: 360px;
  margin-bottom: 120px;
}

.about h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary);
  width: 60%;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  height: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.card__about {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1.5rem; 
  background-color: var(--page-bg);
  z-index: 0;
}

.card__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card__about > span {
  color: var(--primary);
  font-weight: 500;
}

.card__content {
  height: 100%;
  --padding: 1.5rem;
  padding: var(--padding);
  background: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.card__title {
  color: var(--card-accent);
  font-weight: 500;
  position: relative;
  width: max-content;
}

.card__title::after {
  content: '';
  position: absolute;
  height: 1px;
  left: calc(var(--padding) * -1);
  bottom: -5px;
  width: calc(100% + var(--padding));
  background-color: var(--card-accent);
}

.card__description {
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 8px;
}

.card__description,
.technologies span {
  color: var(--card-neutral);
}

.technologies span {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 80px;
}

.cta__title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--primary);
}

.cta__subtitle {
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary);
  margin-top: 20px;
  margin-bottom: 36px;
}

.cta__subtitle span {
  font-weight: 900;
}

.area__form {
  margin-top: 20px;
}

.form__input {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--detail);
  margin-bottom: 24px;
}

.form__input label {
  font-size: 18px;
  color: var(--primary);
  font-weight: 400;
}

.form__input input, textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 0 5px 0;
  outline: none;
  border: none;
  color: var(--secondary);
  background-color: var(--page-bg);
  caret-color: var(--primary);
  margin-top: 8px;
  margin-bottom: 5px;
}

.form__input textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
}

.form__error {
  font-size: 14px;
  font-weight: var(--error-weight);
  color: var(--error);
  margin-bottom: 4px;
  visibility: hidden;
}

.show-error {
  visibility: visible !important;
}

.button__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__button {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 20px;
  width: 280px;
  border: none;
  outline: none;
  margin-top: 20px;
  background-color: var(--primary);
  color: var(--page-bg);
  cursor: pointer;
  transition: .3s ease;
}

.form__button:hover,
.form__button:active,
.form__button:focus-within {
  transform: scale(1.02);
}

.form__confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form__confirm span {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--secondary);
  letter-spacing: 1px;
}

.footer__container {
  padding: 10px var(--p-5);
}

footer {
  width: 100%;
  background-color: var(--page-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.footer__by {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.footer__divider {
  display: none;
}

.footer__by span {
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary);
}

.by__email {
  user-select: text;
  -webkit-user-select: text;
}

.footer__social {
  display: flex;
  gap: 16px;
}

.social__icon svg, 
.social__icon svg path {
  width: 22px;
  height: 22px;
  fill: var(--secondary);
}

@media (hover) {
  .card__content {
    opacity: 0;
    transition: all .3s ease;
  }

  .card__title::after {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .8s ease;
  }

  .card:hover .card__content, 
  .card:focus-within .card__content {
    opacity: 1;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:focus-within .card__title::after,
  .card:hover .card__title::after  {
    transform: scaleX(1);
  }

  .social__icon {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .social__icon::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .8s ease;
  }

  .social__icon:hover::after,
  .social__icon:focus-within::after {
    transform: scaleX(1);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0 !important;
  }
}

@media screen and (min-width: 520px) {
  .footer__by {
    gap: 16px;
  }

  .footer__divider {
    display: block;
    width: 1px;
    height: 10px;
    background-color: var(--detail);
  }
}

@media screen and (max-width: 768px) {
  .break {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .intro__name {
    font-size: 2rem;
  }

  .intro__career {
    font-size: 3rem;
  }

  .about h3 {
    font-size: clamp(1.25rem, 1rem + 0.3906vi, 1.625rem);
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .card {
    height: 50vw;
  }

  .footer__container {
    padding: 20px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-top: 25px;
  }

  .intro__name {
    font-size: clamp(2.5rem, 2.0833rem + 0.651vi, 3.125rem);
  }

  .intro__career {
    font-size: clamp(5rem, 4.1667rem + 1.3021vi, 6.25rem);
    width: 100%;
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  }

  .card {
    max-height: 450px;
  }

  .contact {
    flex-direction: row;
    justify-content: space-between;
    min-height: min-content;
  }

  .cta__title {
    font-size: clamp(2.5rem, 2.0833rem + 0.651vi, 3.125rem);
  }

  .cta__subtitle {
    font-size: clamp(1.25rem, 1rem + 0.3906vi, 1.625rem);
    margin-top: 36px;
  }

  .area__form {
    width: 50%;
    margin-top: 0;
  }

  .form__confirm span {
    font-size: clamp(1.5rem, 1rem + 0.7813vi, 2.25rem);
  }
}